@use '../../../Utils/mixins.scss' as mixins;

.botone {
    min-height: 100vh;
    // filter: invert(100%);
    filter: grayscale(100%);
    transition: 1s;
    position: relative;    
    display: flex;
    justify-content: center;
    align-items: center;
    &__bg {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        @include mixins.imgBG('/assets/home/botone/botone_bg.jpg');
        filter: brightness(30%);
        transition: 1s;
    }
}

.botone.active {
    // filter: invert(0%);
    filter: grayscale(0%);
    .botone__bg {
        filter: brightness(60%);
    }
}