body {
  overflow-x: hidden;
}

.page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: #fff;
  }
  
  .page-enter {
    opacity: 0;
    transform: translateX(-100%);
  }
  
  .page-enter-active {
    opacity: 1;
    transform: translateX(0%);
    transition: 1s;
  }
  
  .page-exit {
    opacity: 1;
    transform: translateX(0%);
  }
  
  .page-exit-active {
    opacity: 0;
    transform: translateX(100%);
    transition: 1s;
  }