@use '../../Utils/styles/mixins.scss' as mixins;
@use '../../Utils/styles/colors.scss' as colors;

.botone {
    min-height: 100vh;
    background-color: colors.$cream_white;
    display: grid;
    grid-template-rows: 108px 1fr 50px;
    position: relative;
    &__content {
        display: flex;
        justify-content: center;
        align-items: center;
        .botone__contentbox {
            width: 768px;
            height: 550px;
            background-color: #fff;
            padding: 10px;
            overflow-y: scroll;
        }
        .botone__contentbox::-webkit-scrollbar {
            display: none;
        }
    }
}

@media screen and (max-height: 768px) {
    .botone {
        &__content {
            .botone__contentbox {
                height: 450px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .botone {
        &__content {
            .botone__contentbox {
                width: 100%;
            }
        }
    }
}