@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$font_pixel: 'Press Start 2P', cursive;
$font_subtitle: 'Caveat', cursive;
$font_vollkorn: 'Vollkorn', serif;
